.JobContainer{
    width: 500px;
    height: 840px;
    border: none;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-top: 6px solid #3498db;
    border-left: 6px solid #3498db;
    box-shadow: 0,0,0,9 #3498db;
    background-color: #f8f8f8;
}
.add-job-heading{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    border-bottom: 3px solid #3498db;
    margin-left: 50px;
    margin-right: 50px;
    
}
.job-input, .status{
    margin-left: 90px;
    margin-top: 20px;
    border: 1px solid #3498db;
    width: 70%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
    

}
.label-form{
  margin-top: 10px;
  margin-left: 90px;
}

.AddNewJobBtn {
  background: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s ease;
  width: 200px;
  height: 40px;
  margin-left: 150px;
  margin-top: 30px;
}

.AddNewJobBtn:hover {
  background: #2980b9;
}