*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #333;
    color:#fff;
    max-width: 100%;
    height: 6vh;
}
.container h1{
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #3498db;
    height: 10vh;
}
nav h2{
    font-size: 15px;
    font-weight: 100;
}
nav button{
    border:none;
    width: 200px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-right: 20px;
    cursor: pointer;

}
.welcome-msg {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    margin-right: 1000px;

}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.deleteBtn {
  background: #e63946;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.deleteBtn:hover {
  background: #c82333;
}

.closeBtn {
  background: burlywood;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.closeBtn:hover {
  background: rgb(240, 213, 177);
}
