.registerContainer{
    width: 500px;
    height: 640px;
    border: 1px solid #333;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}
.register-heading{
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    border-bottom: 3px solid #3498db;
    margin-left: 50px;
    margin-right: 50px;
    
}
.register-input{
    margin-left: 60px;
    border: 1px solid #3498db;
    width: 70%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;

}

.account{
    margin-top: 50px;
}
.registerBtn {
  background: #3498db;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s ease;
  width: 200px;
  height: 40px;
  margin-left: 135px;
  margin-top: 30px;
}

.registerBtn:hover {
  background: #2980b9;
}